@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,700italic,600italic,400italic);

/* -----------------------------------------------------------------------------------------------------
                                     STRUCTURE STARTS
----------------------------------------------------------------------------------------------------- */
html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.1);
}
h1 {
	margin: 25px 0 15px;
	position: relative;
	float: left;
	width: 100%;
	
	text-align: center;
	font-size: 24px;
	font-weight: 800;
}
h2 {
	margin-bottom: 10px;
	position: relative;
	float: left;
	width: 100%;
	
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
h3 {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin-bottom: 5px;
	position: relative;
	float: left;
	width: 100%;
	
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#msgResponse {
	opacity: 0;
	color: #fff;
	background-color: #a90329;
	font-weight: 800;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;

    transition: all 0ms ease-out;
    -ms-transition: all 0ms ease-out;
    -moz-transition: all 0ms ease-out;
    -webkit-transition: all 0ms ease-out;
}
#msgResponse p ~ p {
	margin-top: 2.5px;
}
#msgResponse.error {
    transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -webkit-transition: all 250ms ease-out;
	opacity: 1;
}
/* -------------------------------------------------
                   STRUCTURE ENDS
------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------
                                     HOME STARTS
----------------------------------------------------------------------------------------------------- */
.page #pg-wrapper article {
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	background-color: #fff;
	
	padding: 2.5%;
	margin: 10px 2.5%;
	width: calc(100% - 5%);
	border-radius: 10px;
	box-shadow: 2px 2px 15px rgba(0,0,0,0.15);
}
.page #pg-wrapper section {
	width: calc(50% - 5%);
	margin: 20px 2.5%;
	float: left;
	padding: 2.5%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	box-shadow: inset 2px 2px 15px rgba(0,0,0,0.15);
}
.page #pg-wrapper article section:nth-child(2n){
	clear: both;
}
/* -------------------------------------------------
                   HOME ENDS
------------------------------------------------- */